.grid {
    width: 505px;
    height: 505px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 125px;
    height: 125px;
    border: solid black 1px;
}

.mole {
    background-image: url("./mole.png");
    background-size: cover;
}
