.grid {
    width: 303px;
    height: 303px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 100px;
    height: 100px;
    border: solid black 1px;
}

.mole {
    background-image: url("./mole.png");
    background-size: cover;
}
